
@mixin after(){
    content: '또는';
    position: absolute;
    top: -8px;
    left: calc(50% - 16px);
    margin: 0 auto;
    color: #b2b2b2;
    font-size: 12px;
    padding: 0 10px;
    background: #fff;
}

#sub8 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: top;
        .signin-box {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            .top {
                width: 100%;
                .button-box {
                    width: 100%;
                    padding: 17px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        background: url(../../../../public/images/modal/icon_go_back.png) no-repeat;
                        background-size: auto 16px;
                        width: 16px;
                        height: 16px;
                        border: 0;
                    }
                    a {
                        display: block;
                        background: url(../../../../public/images/modal/icon_go_home.png) no-repeat;
                        background-size: auto 16px;
                        width: 16px;
                        height: 16px;
                    }
                }
                .logo-box {
                    width: 100%;
                    padding: 5px 0 0 0;
                    a {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        img {
                            max-width: 50%;
                        }
                    }
                }
            }
            .middle {
                width: 100%;
                padding: 0 20px;
                position: relative;
                .title-box {
                    width: 100%;
                    padding: 34px 0;
                    h2 {
                        margin: 0 0 10px 0;
                        font-size: 23px;
                        font-weight: 700;
                        color: #222;
                    }
                    p {
                        font-size: 15px;
                        color: #222;
                        line-height: 150%;
                        font-weight: 400;
                    }
                    .button-box {
                        width: 100%;
                        height: 54px;
                        margin: 15px 0 0 0;
                        a {
                            display: inline-flex;
                            width: 100%;
                            height: 100%;
                            background: #fee500;
                            border-radius: 10px;
                            border: 1px solid #fee500;
                            align-items: center;
                            img {
                                padding: 0 55px 0 25px;
                                scale: 1.2;
                            }
                            span {
                                font-size: 17px;
                                font-weight: 400;
                                color: #111;
                            }
                        }
                    }
                }
                .image-box {
                    width: 100%;
                    padding: 0 0 30px 0;
                    margin: -10px 0 0 0;
                    img {
                        width: 380px;
                    }
                }
                .content {
                    width: 100%;
                    position: relative;
                    padding: 34px 0;
                    border-top: 1px solid #f5f5f5;
                    &::after {
                        @include after();
                    }
                    .tab-button-box {
                        width: 100%;
                        margin: 0 0 15px 0;
                        padding: 3px;
                        button {
                            width: 50%;
                            height: 34px;
                            font-size: 15px;
                            font-weight: 400;
                            color: #888;
                            text-align: center;
                            border-radius: 20px;
                            border: 1px solid #f6f7f9;
                            background: #f6f7f9;
                            cursor: pointer;
                            &.on {
                                background: #222;
                                border: 1px solid #222;
                                color: #fff;
                            }
                        }
                    }
                    form {
                        width: 100%;
                        ul {
                            width: 100%;
                            li {
                                width: 100%;
                                margin: 10px 0 0 0;
                                .gap {
                                    width: 100%;
                                    position: relative;
                                    input[type='text'], input[type='password'] {
                                        width: 100%;
                                        height: 50px;
                                        border: 0;
                                        border-bottom: 1px solid #e5e5e5;
                                        font-size: 16px;
                                        color: #000;
                                        outline: none;
                                        transition: all 0.2s ease-in-out;
                                        &:focus {
                                            border-bottom: 1px solid #222;
                                            vertical-align: center;
                                            padding: 10px 0 0 0;
                                            &::placeholder{
                                                color: #fff;
                                            }  
                                        }
                                        &::placeholder{
                                            color: #777;
                                            font-size: 15px;
                                        }
                                    }
                                    input[type='submit']{
                                        width: 100%;
                                        height: 54px;
                                        background: #f6f7f9;
                                        border: 1px solid #f6f7f9;
                                        font-size: 17px;
                                        color: #555;
                                        font-weight: 700;
                                        border-radius: 10px;
                                        margin: 10px 0 0 0;
                                        cursor: pointer;
                                    }
                                    label {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        font-size: 12px;
                                        color: #aaa;
                                    }
                                    button {
                                        background: #fff;
                                        border: 0;
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        img {
                                            width: 18px;
                                        }
                                    }
                                }
                                &.SaveIdCheck {
                                    margin: 15px 0 5px 0;
                                    label {
                                        font-size: 15px;
                                        font-weight: 400;
                                        vertical-align: top;
                                        color: #222;
                                        input[type='checkbox']{
                                            appearance: none;
                                            margin: 0 5px 0 0;
                                            width: 24px;
                                            height: 24px;
                                            border: 1px solid #c5c5c5;
                                            background-color: #fff;
                                            border-radius: 50%;
                                            &:checked {
                                                border: 1px solid #222;
                                                background-color: #222;
                                                background-image: url(../../../../public/images/modal/icon_check.png);
                                                background-size: 9.5px;
                                                background-repeat: no-repeat;
                                                background-position: 50%;
                                            }
                                        }
                                    }
                                }
                                &.sign {
                                    width: 100%;
                                    margin: 15px 0 0 0;
                                    .gap {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        .search-box {
                                            a {
                                                font-size: 15px;
                                                color: #888;
                                                line-height: 17px;
                                            }
                                            span {
                                                vertical-align: top;
                                                margin: 0 10px;
                                                color: #e1e1e1;
                                            }
                                        }
                                        .signup-box {
                                            a {
                                                font-size: 15px;
                                                color: #222;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom {
                width: 100%;
                padding: 0 20px;
                margin: 0 0 20px 0;
                position: relative;
                border-top: 1px solid #f5f5f5;
                .logo-box {
                    width: 100%;
                    padding: 34px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        display: flex;
                        width: 48px;
                        height: 48px;
                        background: #000;
                        border: 1px solid #000;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 18px;
                            height: 22px;
                        }
                    }
                }
                .text1 {
                    width: 100%;
                    padding: 26px 0 15px 0;
                    h3 {
                        font-size: 14px;
                        color: #222;
                        line-height: 140%;
                        position: relative;
                        strong {
                            font-size: 14px;
                            font-weight: 600;
                            vertical-align: top;
                        }
                        span {
                            display: inline-block;
                            background: url(../../../../public/images/modal/icon_information.png) no-repeat 50%/cover;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin: 0 0 0 2px;
                            transform: translateY(-1px);
                        }
                    }
                }
                .text2{
                    width: 100%;
                    h4 {
                        font-size: 13px;
                        color: #888;
                        text-transform: uppercase;
                        strong {
                            font-size: 13px;
                            vertical-align: top;
                            font-weight: 600;
                        }
                    }
                }
                &::after {
                    @include after();
                }
            }
        }

    }
}